{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ApplicationSonataPageBundle::rutherglen_base_layout.html.twig' %}

{% block page_stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationsonatapage/theme/rutherglen/css/operator/general.css') }}" type="text/css" media="all"  />
{% block flexslidercss %}
<link rel="stylesheet" href="{{ asset('bundles/applicationsonatapage/theme/rutherglen/css/operator/flexslider-content.css') }}" type="text/css" media="all"  />
{% endblock %}
<!--<link rel="stylesheet" href="{#{ asset('bundles/sonatamedia/nivo-gallery/nivo-gallery.css') }#}" type="text/css" media="all" /> -->
<style type="text/css">
        .fullwidth-content .padder{padding: 20px 80px 30px 0;}
        #panelGeneral3 .flexslider{ background-color: #fff; }
        #panelGeneral3 .flex-viewport{ height: 538px;}
        #panelGeneral3 .flex-viewport img{ width: auto !important; min-height: 100%; }
        @media(max-width: 767px){
            #panelGeneral3 .flex-viewport{ height: 350px;}
            .fullwidth-content .padder{padding: 18px;}
        }
        @media (max-width: 480px){
           #panelGeneral3 .flex-viewport{ height: 250px;}
        }            
</style>    
{% endblock %}
{% block flexsliderjs %}
    <script src="{{ asset('bundles/applicationsonatapage/theme/rutherglen/js/flexslider-content.js') }}" type="text/javascript"></script>
{% endblock %}
{% block bodyMain %} <body class="general">   {%  endblock %}
{% block page_container %}
        

{% include 'ApplicationSonataPageBundle::rutherglen_header.html.twig' %}
   <!-- START GENERAL CONTENT -->
   
    <div class="whiteBg general">
        <!--<img src="{{ asset('bundles/applicationsonatapage/theme/rutherglen/img/uploaded/generalHeader.jpg') }}" alt="" style="position:relative;" />-->
        <div id="panelGeneral1" class="container"><!-- first panel -->
            <div class="row">
                <div class="span12 clearfix">
                    <div class="padder">
                        {{ sonata_page_render_container('page-header', page) | sonata_page_render_custome_block([{'service':'sonata.block.service.text'}]) }}
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </div>

    <div id="panelGeneral2" class="container solidBackground"><!-- first panel -->
        <div class="row">
            <div class="span10 clearfix">
                {% render 'TNEOperatorBundle:Default:breadcrumb' with { 'page': page } %}
            </div>
            <div class="span2">
                <ul class="inline">
                    <li>
                        <a href="#"><span class="entypo share"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="entypo print"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- /container -->

    

    <div id="panelGeneral3" class="container solidBackground"><!-- first panel -->

        <div class="row">
            <div class="span11 offset1 fullwidth-content">
                <div class="padder">
                    {{ sonata_page_render_container('content-top-text', page) | sonata_page_render_custome_block([{'service':'sonata.block.service.text'}]) }}
                </div>
                <!--<div id="gMapWrapper">
                    <div id="gMap">
                        {#{ sonata_page_render_container('mapImage', page) | sonata_page_render_custome_block([{'service':'sonata.media.block.feature_media'}]) }#}
                    </div>
                    <div id="gMapOver" class="opaque9">Hiking trails in Rutherglen</div>
                </div>
                <div class="padder">
                        {#{ sonata_page_render_container('content-bottom-text', page) | sonata_page_render_custome_block([{'service':'sonata.block.service.text'}]) }#}
                </div>-->
                    
                <form id="tabletSubscribe">
                    <div>Subscribe</div>
                    <input id="tabletSubscribeEmail" placeholder="Enter email address.." />
                    <input type="submit" />
                </form>

            </div>
        </div>
    </div> <!-- /container -->

    <!-- END GENERAL CONTENT -->

{% include 'ApplicationSonataPageBundle::rutherglen_footer.html.twig' %}

    <div id="design"></div>

        
  
{% endblock %}
